@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Mochiy+Pop+One&family=Source+Sans+Pro&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
    
}

body{
    font-family: 'Source Sans Pro' , sans-serif;
    background-image: linear-gradient(rgb(246, 248, 250),rgb(214, 233, 243),rgb(140, 146, 155), rgb(10, 11, 12))
    
}

.contenedor-index{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto 1fr auto;
    min-height: 100vh ;
    grid-template-areas:
    "header header" 
    "main main"
    "footer footer"
    } 

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}
.contacto {
    margin-left: 7rem;
}
.contacto p{
    margin-left: 2rem;
}

.aside{
    grid-area: aside;
}

.encabezado {
    background-color: rgba(246, 249, 250, 0.89);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom: 0.5rem;

}

.bg-propio{
    position: fixed;
    width: 100%;
    background-color: rgba(246, 249, 250, 0.89);
    z-index: 99;
}
.nav-item a:hover{
    color: rgb(15, 248, 248)!important;
}

.logo {
    width: 5%;
    display: inline-block;
}

nav {
    display: inline-block;
    width: 90%;
    
}

.barranav {
    display: flex;
}

.barranav li {
    display: inline;
}

.barranav a:hover {
color: rgb(15, 248, 248);
}

nav ul li a {
    font-size: 1.4rem;
    color: rgba(1,102,149,255);
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 15px;
    
}
.burger {
    width: 25px;
    cursor: pointer;
    display: none;
}
.burger img {
    width: 100%;
}
.toggle-open.open {
    display: none;
}
.toggle-close {
    display: none;
}
.toggle-close.close {
    display: block;
}
.banner{
    height: 70vh;
    background-image: url(../img/3WHG4IYX6BFZ5PMWFI2EZQRXZU.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.d-block{
    height: 100%;
}
.titulo {
    font-size: 2.8rem;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: #000000 5px 5px;
    text-align: center;
    color: rgb(235, 239, 243);
    padding-top: 13rem;
}

p{
    font-size: 1.2rem;
    font-weight: lighter;
}


.adopta {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.5rem;
    
}

.boton{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    animation-name: adopta;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes adopta{
    0%{transform: none;}
    50%{transform: scale(2,1);}
    100%{transform: rotate(2,1);}
}

footer {
    background-color:rgba(1,102,149,255); 
    font-family: 'Source Sans Pro', sans-serif;
}


.redes {
    display: inline;
    margin-left: 20rem;
    
} 

.bi-instagram {
    font-size: 2rem;
    color: #000000;
}

.bi-facebook {
    font-size: 2rem;
    color: #000000;
}

.bi-twitter {
    font-size: 2rem;
    color: #000000;
}

.noticias {
    display: inline;
    margin-right: 9rem;
}

.pie-de-pagina{
display: flex;
justify-content: space-between;
}

.copy{
    font-size: 1.5rem;
    font-weight:bold;
    display: flex;
    justify-content: center;
}

.subtitulo {
    color: rgb(5,67,102);
    margin-left: 1rem;
}

.presentacion{
    margin-left: 1rem;
}

.miembros {
    width: 30%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miembrosImg{
    width: 20vw;
    height: 20rem;
}

.miembrosImg Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20rem;
    overflow: hidden;
    border: 2px solid rgb(5,67,102)  ;
}

.card{
    box-shadow: 12px 11px 31px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow:12px 11px 31px -3px rgba(0,0,0,0.75) ;
    -moz-box-shadow:12px 11px 31px -3px rgba(0,0,0,0.75) ;
}

.contenedor{
    display: flex;
}

.conservacion{
    margin-left: 1rem;
}

.avistaje {
    margin-left: 1rem;
}

.ballenas{
    width: 30%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, rgb(63, 144, 187),rgb(7, 130, 201), rgb(5,67,102));
    transition: all 5s;
}
.ballenas:hover{
    width: 50%;
    background-image: linear-gradient(to top, rgb(23, 87, 121),rgb(17, 47, 65), rgb(21, 23, 24))
}

.ballenasImg{
    width: 20vw;
    height: 20rem;
}

.ballenasImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.adopcion{
    margin-left: 1rem;
}

.importante {
    color:#051334 ;
    font-size: 1.5rem;
    font-style: oblique;
    text-align: center;
    margin-bottom: 1rem;
}

.nombre{
    color: rgb(240, 248, 255);
}

.contenedor-info{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

section.pie-de-pagina{
    grid-area: footer;
}


.asideInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "subtitulo subtitulo"
    "infoBallena habitat"
    "caza monumento";
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    justify-items: center;
}  

.subtitulo{
    grid-area: subtitulo;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.infoBallena{
    grid-area: infoBallena;
    margin-left: 2rem;
}

.habitat{
    grid-area: habitat;
    margin-right: 2rem;
}

.caza{
    grid-area: caza;
    margin-left: 2rem;
}

.monumento{
    grid-area: monumento;
    margin-right: 2rem;
}

@media (max-width: 440px){
    .contenedor-index{
        grid-template-columns: 100%;
        grid-template-areas:
        "header" 
        "main"
        "footer"
        }

    .titulo{
        font-size: 2rem;
    }

    .burger{
        display: block;
    }
    .barranav{
        display: none;
    }
    .novedades{
        flex-wrap: wrap;
    }
    .imgavistaje{
        width: 100%;
        margin-left: 0%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .aside{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "avistamiento"
        "mapa";
    }

    .aside section{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avistamiento{
        margin: 2rem;
    }

    .aside iframe{
        width: 95%;
    }

    .pie-de-pagina{
        flex-wrap: wrap;
    }
    .contacto{
        margin-left: 7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .redes{
        margin-left: 7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .noticias{
        margin-left: 7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .contenedor-info{
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "main"
        "footer"
    }
    .asideInfo{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        "subtitulo"
        "infoBallena"
        "habitat"
        "caza"
        "monumento";
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: center;
    }
    .habitat{
        margin-left: 2rem;
    }
    .monumento{
        margin-left: 2rem;
    }
    .contenedor{
        flex-wrap: wrap;
    }
    .miembros {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
        padding: 1rem;
    }
    
    .miembrosImg{
        width: 100%;
    }
    .conservacion{
        padding: 1rem;
    }
    .subtitulo{
        font-size: 2.3rem;
        text-align: center;
        
    }
    .avistaje{
        padding: 1rem;
    }
    .adopcion{
        padding: 1rem;
    }
    .ballenas{
        width: 100%;
        margin: 0;
    }
    
    .ballenasImg{
        width: 100%;
    }
}
