%botonAdopta{
        text-align: center;
        font-family: $fuente;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 8px;
        padding: 0.5rem;
        margin-left: 53rem;
}