footer {
    background-color:rgba(1,102,149,255); 
    font-family: $fuente;
    .redes {
        margin-top: 2rem;
        display: inline;
        margin-left: 20rem;
        
    } 
    .bi-instagram {
        font-size: map-get($estilos, fontSize);
        color: #000000;
    }
    
    .bi-facebook {
        font-size: map-get($estilos, fontSize);
        color: #000000;
    }
    
    .bi-twitter {
        font-size: map-get($estilos, fontSize);
        color: #000000;
    }
    
    .noticias {
        margin-top: 2rem;
        display: inline;
        margin-right: 9rem;
    }

    .contacto {
        margin-top: 2rem;
    }
    
    .pie-de-pagina{
    display: map-get($estilos, displayFlex);
    justify-content: space-between;
    }
    
    .copy{
        font-size: 1.5rem;
        font-weight:bold;
        display: map-get($estilos, displayFlex);
        justify-content: center;
        color: #000000;
    }
}


