@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Mochiy+Pop+One&family=Source+Sans+Pro&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    margin: map-get($estilos, $marginUno );
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
    
}

body{
    font-family:$fuente ;
    background-image: linear-gradient(rgb(246, 248, 250),rgb(214, 233, 243),rgb(140, 146, 155), rgb(10, 11, 12));
    
    .subtitulo {
        color: $color-subtitulo;
        margin-left: $margin;
    }
    
}
