.contenedor-index {
    @extend %grilla;

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    }
}    

.contacto {
    margin-left: 7rem;

    p {
        margin-left: 2rem;
    }
}

.contenedor-info {
    @extend %grilla;

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    section.pie-de-pagina {
        grid-area: footer;
    }
}
