.contenedor-index {
    @extend %grilla;

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    }
}    

.contacto {
    margin-left: 7rem;

    p {
        margin-left: 2rem;
    }
}

.contenedor-info {
    @extend %grilla;

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    section.pie-de-pagina {
        grid-area: footer;
    }
}

.asideInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "subtitulo subtitulo"
        "infoBallena habitat"
        "caza monumento";
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    justify-items: center;

    .subtitulo {
        grid-area: subtitulo;
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    .infoBallena {
        grid-area: infoBallena;
        margin-left: 2rem;
    }

    .habitat {
        grid-area: habitat;
        margin-right: map-get($estilos, $marginDos );
    }

    .caza {
        grid-area: caza;
        margin-left: map-get($estilos, $marginUno );
    }

    .monumento {
        grid-area: monumento;
        margin-right: map-get($estilos, $marginDos );
    }

}