@media screen and (max-width: 440px) {
    .contenedor-index {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

    .banner {
        .titulo {
            font-size: map-get($estilos, fontSize);
        }
    }

    .barranav {
        display: none;
    }

    .novedades {
        flex-wrap: wrap;
    }

    .imgavistaje {
        width: 100%;
        margin-left: map-get($estilos, marginUno );
        margin-top: map-get($estilos, marginDos );
        margin-bottom: map-get($estilos, marginDos );
    }

    .aside {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "avistamiento"
            "mapa";

        section {
            display: map-get($estilos, displayFlex);
            justify-content: center;
            align-items: center;
        }

        iframe {
            width: 98%;
        }

    }

    .avistamiento {
        margin: 1rem;
    }

    .pie-de-pagina {
        flex-wrap: wrap;
    }

    .contacto {
        margin-left: map-get($estilos, marginUno );
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer .redes {
        margin-left: map-get($estilos, marginUno );
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .noticias {
        margin-left: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        text-align: center;
        
    }

    .contenedor-info {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }

    .asideInfo {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "subtitulo"
            "infoBallena"
            "habitat"
            "caza"
            "monumento";
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: center;
    }

    .habitat {
        margin-left: map-get($estilos, marginDos );
    }

    .monumento {
        margin-left: map-get($estilos, marginDos );
    }

    .contenedor {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }

    .miembros {
        width: 100%;
        margin: map-get($estilos, marginUno );
        margin-bottom: map-get($estilos, marginDos );
        padding: 1rem;

        Img {
            width: 100%;
        }
    }

    .conservacion {
        padding: 1rem;
    }

    body{
        .subtitulo {
        margin-left: map-get($estilos, marginUno );
        font-size: 2.3rem;
        text-align: center;
        }
    }

    .avistaje {
        padding: 1rem;
    }

    .btn{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 9.3rem;
        font-size: 1.5rem;
    }

    .ballenas {
        margin: map-get($estilos, marginUno );

        Img {
            width: 100%;
        }
    }
}