@mixin botones($border, $bgColor) {
    padding: 4px;
    border: $border;
    border-radius: map-get($estilos,borderRadiusDos );
    background-color: $bgColor;
}

@mixin display($direction,$justify,$gap,){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    column-gap: $gap;
}